html {
  scroll-behavior: smooth;
}
body {
  max-width: 800px;
  margin: 0 auto;
  height: 100vh;
  padding: 3rem 0;
  background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237,49%,15%));
  color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  overflow: hidden;
}

// .main{
//   display: flex;
//   align-items: center;
//   text-align: center;
//   position: absolute;
//   top: 50%;
//   bottom: 50%;
//   left: 30%;
//   right: 30%;
//   gap: 8rem;
// }

.title{
  text-transform: uppercase;
}
// .img-triangle{
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 100vh;
//   z-index: -1;
// }
// .game-items {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 100vh;
//   position: absolute;
//   top: 0; 
// }
// .game-item {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background-color: rgb(227, 227, 227);
//   width: 198px;
//   height: 194px;
//   border-radius: 50% ;
// }
.game-item {
  --border-color: radial-gradient(circle at center, #1f3756, #141539);;
  --shadow: hsl(217, 16%, 45%);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  border: 15px solid var(--border-color);
  box-shadow: 0 5px var(--shadow), inset 0 5px rgba(0, 0, 150, 0.1);
  background-color: #fff;
  transition: transform 0.2s;
  cursor: pointer;
}

.game-item-blue{
  border: 20px solid rgb(86, 113, 245);
  position: absolute;
  top: 350px;
  left: 845px;
}
.game-item-yellow{
  border: 20px solid rgb(237, 167, 35);
  position: absolute;
  top: 350px;
  left: 1100px;
}
.game-item-rock{
  border: 20px solid rgb(222, 64, 93);
  position: absolute;
  top: 550px;
  left: 970px;
}
// para que la imagen sea inmune al click
.game-item__image{
  pointer-events: none;
}