.img-triangle, .img-pentagon{
    background-image: url(../assets/images/bg-triangle.svg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    position: relative;
}